@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 20px;
}
h1 {
  margin-top: 30px;
  color: rgb(250, 246, 6);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

body {
  background: #353538;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.contenedor {
  max-width: 500px;
  width: 90%;
  margin: 40px auto;
}

label {
  line-height: 40px;
}

input {
  text-align: center;
  border: none;
}
